<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Administración Ventas Esperanza</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Mantenimientos
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAgencia"
           aria-expanded="true" aria-controls="collapseAgencia">
            <i class="fas fa-fw fa-cog"></i>
            <span>Mantener Agencias</span>
        </a>
        <div id="collapseAgencia" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Opciones CRUD:</h6>
                <a class="collapse-item" href="/agencia">Listar Agencias</a>
                <a class="collapse-item" href="/agencia/create">Crear Agencia</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseServicios"
           aria-expanded="true" aria-controls="collapseServicios">
            <i class="fas fa-fw fa-cog"></i>
            <span>Mantener Servicios</span>
        </a>
        <div id="collapseServicios" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Opciones CRUD:</h6>
                <a class="collapse-item" href="/servicio">Listar Servicios</a>
                <a class="collapse-item" href="/servicio/create">Crear Servicio</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRol"
           aria-expanded="true" aria-controls="collapseRol">
            <i class="fas fa-fw fa-cog"></i>
            <span>Mantener Rol</span>
        </a>
        <div id="collapseRol" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Opciones CRUD:</h6>
                <a class="collapse-item" href="/Rol">Listar Roles</a>
                <a class="collapse-item" href="/Rol/create">Crear Rol</a>
            </div>
        </div>
    </li>
    <!-- CLIENTE -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCliente"
           aria-expanded="true" aria-controls="collapseCliente">
            <i class="fas fa-fw fa-cog"></i>
            <span>Mantener Cliente</span>
        </a>
        <div id="collapseCliente" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Opciones CRUD:</h6>
                <a class="collapse-item" href="/Cliente">Listar Clientes</a>
                <a class="collapse-item" href="/Cliente/create">Crear Cliente</a>
            </div>
        </div>
    </li>
    <!-- USUARIOS
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCliente"
           aria-expanded="true" aria-controls="collapseCliente">
            <i class="fas fa-fw fa-cog"></i>
            <span>Mantener Cliente</span>
        </a>
        <div id="collapseCliente" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Opciones CRUD:</h6>
                <a class="collapse-item" href="/Cliente">Listar Clientes</a>
                <a class="collapse-item" href="/Cliente/create">Crear Cliente</a>
            </div>
        </div>
    </li>
        -->
    <!-- VENTAS -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVenta"
           aria-expanded="true" aria-controls="collapseVenta">
            <i class="fas fa-fw fa-cog"></i>
            <span>Mantener Ventas</span>
        </a>
        <div id="collapseVenta" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Opciones CRUD:</h6>
                <a class="collapse-item" href="/venta">Listar Ventas</a>
                <a class="collapse-item" href="/venta/listpendientes">Listar Ventas Pendientes</a>
                <a class="collapse-item" href="/venta/create">Crear Venta</a>
            </div>
        </div>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>